# env
.env

# data - lokalno, ne ide na git
data/

results/

scripts/

# python
__pycache__/
*.pyc
*.pyo
.venv/

# chroma - baza se gradi lokalno
chroma_db/

# jupyter checkpoints
.ipynb_checkpoints/

# ide
.vscode/
.idea/