# env
.env

# data - lokalno, ne ide na git
data/

results/

rag/evaluate_stari.py

scripts/

# python
__pycache__/
*.pyc
*.pyo
.venv/



# jupyter checkpoints
.ipynb_checkpoints/

# ide
.vscode/
.idea/

